.body {

    
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #ececb6 !important;
}

.form {
    height: 60%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background-color: #fff;
}

.field {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 5px;
}

.field > input {
    width: 60%;
}

.field > button {
    margin-left: 5px;
    width: 100px;
}

.search_container {
    width: 100%;
}

#cut_url  {
    width: 60%;
}

#save_btn {
    margin-top: 5px;
    margin-bottom: 5px;
}

.help-set-full {
    display: none;
}
